body {
  background-color: #BC1C12;
  animation-name: bgcolor;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  text-align: center;
  font-family: Orbitron;
}

.container1, .container2 {
  background-color: black;
  width: 90%;
  max-width: 800px;
  border-radius: 20px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.header h1 {
  -webkit-text-fill-color: black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #BC1C12;
  padding-top: 20px;
  animation-name: color;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  }


.header hr {
  border-color: #d0c6c4;
}

.hal {
  height:300px;
}

.hal img {
  width: 300px;
  height:auto;
}

.input-section {
  padding-bottom: 20px;
}

label {
  -webkit-text-fill-color: black;
  -webkit-text-stroke-width: .1px;
  -webkit-text-stroke-color: #BC1C12;
  animation-name: color;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  font-size: 30px;
  margin-top: -20px;
}

input {
  background-color: #d0c6c4;
  color: #040404;
  border-color: #BC1C12;
}

button {
  margin-top: 20px;
  background-color: #BC1C12;
  color: #040404;
}

.output-area {
  padding-bottom: 30px;
}

.output-area p {
  color: #040404;
}

.output-area h2 {
  color: #BC1C12;
  -webkit-text-fill-color: black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #BC1C12;
  animation-name: color;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  padding-top: 20px;
}

.well {
  width: 50%;
  margin: auto;
  background-color: #d0c6c4;
  text-align: left;
  border: 1px solid BC1C12;
}

.output-area hr {
  border-color: black;
}

@keyframes bgcolor {
  0% {
    background-color: #BC1C12;
  }
  50% {
    background-color: #000;
  }
  100% {
    background-color: #BC1C12;
  }
}

@keyframes color {
  0% {
    -webkit-text-stroke-color: #BC1C12;
  }
  50% {
    -webkit-text-stroke-color: #FF2618;
  }
  100% {
    -webkit-text-stroke-color: #BC1C12;
  }
}
