.well {
  width: 50%;
  margin: auto;
}

body {
  background-color: #000002;
  text-align: center;
  color: #d0c6c4;
}

.output-area {
  margin-top: 50px;
}

button {
  margin-top: 20px;
}

.hal {
  height:300px;
}
img {
  width: 300px;
  height:auto;
}

.header h1 {
  color: #d0c6c4;
  text-shadow: 2px 2px 1px #BC1C12;
}

.header hr {
  border-color: #d0c6c4;
}

.well {
  background-color: #d0c6c4;
}

input {
  background-color: #d0c6c4;
}

button {
  background-color: #BC1C12;
}
