body {
  background-color: #BC1C12;
  animation: bgcolor 4s infinite;
  text-align: center;
  font-family: Orbitron;
}

.container1, .container2 {
  background-color: black;
  width: 90%;
  max-width: 800px;
  border-radius: 10px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  border: 2px solid #BC1C12;
  box-shadow: 0 0 0 2px black;
}

.header h1 {
  -webkit-text-fill-color: black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #BC1C12;
  padding-top: 20px;
  animation: color 4s infinite;
  margin:auto 10px;
}


.header hr {
  border-color: #BC1C12;
  width: 90%;
}

.hal {
  height:300px;
  overflow: hidden;
}

.hal img {
  width: 300px;
  height:auto;
  transform: scale(1.35);
  animation: imgsize 4s infinite;
}

.input-section {
  padding-bottom: 20px;
}

.name {
  margin-bottom: 50px;
}

label {
  -webkit-text-fill-color: black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #BC1C12;
  animation: color 4s infinite;
  font-size: 30px;
  margin-top: -20px;
}

input {
  background-color: #d0c6c4;
  color: #040404;
  border-color: #BC1C12;
}

.btn {
  margin-top: 20px;
  background-color: #BC1C12;
  font-size: 25px;
  -webkit-text-fill-color: #BC1C12;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: black;

  animation: btncolor 4s infinite;
  height: 60px;
  width: 120px;
}

.output-area {
  padding-bottom: 30px;
}

.output-area p {
  color: #040404;
}

.output-area h2 {
  color: #BC1C12;
  -webkit-text-fill-color: black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #BC1C12;
  animation: color 4s infinite;
  padding-top: 20px;
}

.well {
  width: 50%;
  margin: auto;
  background-color: #d0c6c4;
  text-align: left;
  border: 1px solid BC1C12;
  margin-top: 20px;
}

@keyframes bgcolor {
  0% {
  }
  50% {
    background-color: #FF2618;
  }
  100% {
  }
}

@keyframes color {
  0% {
  }
  50% {
    -webkit-text-stroke-color: #FF2618;
    text-shadow: 0 0 10px rgba(188,28,18,.5);
  }
  100% {
  }
}

@keyframes btncolor {
  0% {
  }
  50% {
    background-color: #FF2618;
    /* transform: scale(1.02); */
    box-shadow: 0 0 30px #FF2618;
  }
  100% {
  }
}

@keyframes imgsize {
  0% {
  }
  50% {
    transform: scale(1.4);
  }
  100% {
  }
}

/* Media Query for phones */
@media screen and (max-width: 500px) {
  body {
    background-color: black;
    animation: none;
  }

  .container1, .container2 {
    width: 100%;
    margin-top: 0px;
    border: none;
  }

  .well {
    width: 80%;
    border: 2px solid #FF2618;
    animation: color 4s infinite;
  }

  label {
    -webkit-text-fill-color: #BC1C12;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #BC1C12;
    animation: color 4s infinite;
    font-size: 30px;
    margin-top: -20px;
  }

}
